/*Geral*/
:root {
    --color-background:#F2E1DA;
    --color-text-vector:#353535 64%;
    --color-primary-text:#000000;
    --color-secondary-text:#9A3B82;
    --color-rectangle:#DFDFDF;
    --color-rectangle-light:#9A3B82;
    --color-text-rectangle:#FFFFFF; 
    --color-box:#67C2C2;
    --color-secondary-box:#4a9696;   
}

/*Introdução*/

.quote {
    margin-top: 60px;
    text-align: left;
    margin-right: 100px;
}

.quote div {
    margin:auto 0;
}

/*Planos*/

.planos {
    margin-top: 60px;
    background: url('../images/background.svg') no-repeat center;
    background-size: 65%;
}

.planos button{
    width: 300px;
    height: 400px;
    margin: 16px;
}

.btns {
    margin: auto;
    text-align: center;
}

.btns img {
    margin: auto;
} 

.girassolbutton, .lotusbutton, .lisbutton,
.gerberabutton, .astromeliabutton {
    
    background: var(--color-rectangle);
    opacity: 90%;
    border-radius: 20px;
    border: 0;
    color: var(--color-text-vector);
    box-shadow:0 5px var(--color-text-vector);

    opacity: 80%;
    
    white-space: pre-wrap;
    
    align-items: center;
    text-align: center;


    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
    
    padding: auto;

    transition: 0.5s;
}

.girassolbutton:hover, .lotusbutton:hover, .lisbutton:hover,
.gerberabutton:hover, .astromeliabutton:hover {
    background: var(--color-rectangle-light);
    opacity: 100%;
    cursor: pointer;
}

/*sobre*/

.navsobre ul{
    display: inline-block;
}

.navsobre {
    text-align: center;
    
}

.navsobre li{
    display: inline;
    margin: 0 30px;
}

/*Apresentação da professora*/

.sobreaqg  .titulo {
    text-align: center;
}

.apresentacao {
    margin: 20px;
}

.tapresentacao {
    margin: 25px;
    margin-left: 120px;
}


.alunos {
    margin-top: 60px;
}

.linha1, .linha3 {
    padding: 30px;
    padding-left: 0;
    margin-left: 0;
}

.linha1, .linha2, .linha3 {
    padding: 30px;
    padding-left: 0;
}

.linha1 .imagem, .linha3 .imagem {
    margin-right: 0px;
    float: left;
    transform: scaleX(-1);
}

.linha2  {
    margin-right: 0;
    margin-bottom: 10px;
}


.linha2 .texto{
    margin-top: 55px;
}

.dark {
    background-color: #afafaf;
}

.linha3 {
    margin-bottom: 25px;
}

.linha1 .texto, .linha3 .texto {
    margin-left: 0;
    margin-top: 30px;
}

.alunos .imagem img,  .precos .imagem img{
    margin: auto;
}

.precos {
   margin-right: 0;
}

.precos .imagem img {

    margin-left:0;
}

.tpreco {
    margin-right: 0;
}

.navproposta li{
    background: white;
    
    border-radius: 10px;
    border: 2px;
    border-color:#afafaf;
    color: var(--color-rectangle-light);
    box-shadow:0 5px var(--color-text-vector);

    text-align: center;
    font-size: 22px;
    font-weight: lighter;
 
    margin: 10px;
    padding: 2% 20%;

    transition: 0.5s;
    list-style-type: none;
}

.navproposta li:hover {
    background: #afafaf;
}

.botoes {
    margin: 5%;
    margin-top: 6%;
    margin-right: 0%;
   
}

